
  .container {
    text-align: center;
    color: rgb(6, 245, 98);
  } 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:dimgrey;
  }  
  